@import "tailwindcss";

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));
/* @custom-variant dark (&:where(.dark, .dark *)); */
/* @custom-variant hover (&:hover); */

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --color-test: #ff0000;
  --color-setta-50: oklch(95.74% 0.0071 267.38);
  --color-setta-100: oklch(90.85% 0.013 263.02);
  --color-setta-200: oklch(80.57% 0.0292 262.95);
  --color-setta-300: oklch(71.67% 0.0439 264.25);
  --color-setta-400: oklch(62.55% 0.0618 263.97);
  --color-setta-500: oklch(52.16% 0.0651 263.76);
  --color-setta-600: oklch(43.11% 0.0508 262.49);
  --color-setta-700: oklch(33.24% 0.0381 262.51);
  --color-setta-800: oklch(24.58% 0.0254 263.94);
  --color-setta-850: oklch(21.62% 0.0198 264.03);
  --color-setta-860: oklch(19.03% 0.0158 264.09);
  --color-setta-875: oklch(17.97% 0.0141 264.13);
  --color-setta-900: oklch(16.31% 0.0125 264.14);
  --color-setta-925: oklch(14.71% 0.0086 263.76);
  --color-setta-950: oklch(12.81% 0.007 261.32);
  --color-setta-975: oklch(6.97% 0.0051 260.18);
  --color-setta-light: oklch(71.07% 0.0351 256.79);
  --color-setta-dark: oklch(25.52% 0.028 263.88);

  --colors-setta-50: var(--color-setta-50);
  --colors-setta-100: var(--color-setta-100);
  --colors-setta-200: var(--color-setta-200);
  --colors-setta-300: var(--color-setta-300);
  --colors-setta-400: var(--color-setta-400);
  --colors-setta-500: var(--color-setta-500);
  --colors-setta-600: var(--color-setta-600);
  --colors-setta-700: var(--color-setta-700);
  --colors-setta-800: var(--color-setta-800);
  --colors-setta-850: var(--color-setta-850);
  --colors-setta-860: var(--color-setta-860);
  --colors-setta-875: var(--color-setta-875);
  --colors-setta-900: var(--color-setta-900);
  --colors-setta-925: var(--color-setta-925);
  --colors-setta-950: var(--color-setta-950);
  --colors-setta-975: var(--color-setta-975);
  --colors-setta-light: var(--color-setta-light);
  --colors-setta-dark: var(--color-setta-dark);

  --animate-slow-dash: dash 40s linear infinite;
  --animate-slide-down: slideDown 200ms cubic-bezier(0.87, 0, 0.13, 1);
  --animate-slide-up: slideUp 200ms cubic-bezier(0.87, 0, 0.13, 1);

  @keyframes dash {
    to {
      background-position:
        100% 0%,
        0% 100%,
        0% 0%,
        100% 100%;
    }
  }
  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}
/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility section-title {
  grid-area: title;
  /* grid-column: key / value; */
}

@utility section-center {
  grid-area: center-gutter;
}

@utility section-search {
  grid-area: search;
}

@utility section-args {
  grid-area: args;
}

@utility section-key {
  grid-column: key / key;
  grid-row: 1 / 2;
}

@utility section-value {
  grid-column: value / value;
  grid-row: 1 / 2;
}

@utility section-key-value {
  grid-column: key / value;
}

@utility section-key-right-gutter {
  grid-column: key / right-gutter;
}

@utility section-w-full {
  grid-column: left-gutter / right-gutter;
}

@utility section-lg-value {
  grid-column: left-gutter / value;
}

@utility section-row-search-gutter {
  grid-row: search / left-gutter;
}

@utility section-full {
  grid-row: title / left-gutter;
  grid-column: left-gutter / right-gutter;
}

@utility section-full-no-title {
  grid-row: search / left-gutter;
  grid-column: left-gutter / right-gutter;
}

@utility section-min-rows {
  grid-auto-rows: min-content;
}

@utility section-main {
  grid-row: search / left-gutter;
  grid-column: key / value;
}

@utility section-main-full-w {
  grid-row: search / left-gutter;
  grid-column: left-gutter / right-gutter;
}

@utility section-row-main {
  grid-row: left-gutter;
}

@utility section-row-left-bottom {
  grid-row: left-gutter / bottom-gutter;
}

@utility section-row-pin {
  grid-row: pin-lg;
}

@utility section-row-pin-main {
  grid-row: pin-lg / left-gutter;
}

@utility section-left-gutter {
  grid-column: left-gutter / span 1;
}

@utility section-right-gutter {
  grid-column: right-gutter / span 1;
}

@utility section-bottom-gutter {
  grid-row: bottom-gutter;
}

@utility grid-row-reset {
  grid-row-start: -1;
}

@utility grid-row-start-1 {
  grid-row-start: 1;
}

@utility single-row {
  grid-template-rows: 1fr;
}

@utility single-row-area {
  grid-row: 1 / 2;
}

@utility single-cell-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@utility single-cell-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

button,
fieldset,
input {
  all: unset;
}

button,
fieldset,
input {
  all: unset;
}

html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (-moz-appearance: none) {
  body {
    scrollbar-width: thin;
    scrollbar-color: #94a3b83a transparent;
    overflow: hidden;
  }

  body * {
    scrollbar-width: thin;
    scrollbar-color: #94a3b83a transparent;
  }
}

@supports (not (-moz-appearance: none)) {
  body::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
    background-color: transparent;
  }

  body *::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
    background-color: transparent;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  body::-webkit-scrollbar-track,
  body *::-webkit-scrollbar-track {
    background: #94a3b83a;
  }

  body *::-webkit-scrollbar-track {
    background: transparent;
  }

  body::-webkit-scrollbar-thumb,
  body *::-webkit-scrollbar-thumb {
    background-color: #94a3b83a;
    border: 1px solid transparent;
    border-radius: 0.5rem;
  }
}

.js-focus-visible :focus:not([data-focus-visible-added]) {
  outline: none;
  box-shadow: none;
}

[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="rgb(255,255,255)" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

[type="radio"]:checked {
  background-image: url('data:image/svg+xml,<svg viewBox="-2.5 -2.5 10 10" fill="rgb(255,255,255)" xmlns="http://www.w3.org/2000/svg"><circle cx="2.5" cy="2.5" r="1.75" /></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-grid-cols {
  grid-template-columns: [c1] 0.75rem [c2] 1fr [c3] 0.75rem [c4] 1fr [c5] 0.75rem [c6];
}
.section-grid-rows {
  grid-template-rows:
    [r1]
    0.25rem
    [r2]
    minmax(0, min-content)
    [r3]
    minmax(0, min-content)
    [r4]
    minmax(0, min-content)
    [r5]
    minmax(0, min-content)
    [r6]
    minmax(0, 1fr)
    [r7]
    0.25rem
    [r8];
}
.section-grid-areas {
  grid-template-areas:
    "top-gutter top-gutter top-gutter top-gutter top-gutter"
    "title title title title title"
    "search search search search search"
    "args args args args args"
    "pin-lg pin-key pin-cg pin-value pin-rg"
    "left-gutter key center-gutter value right-gutter"
    "bottom-gutter bottom-gutter bottom-gutter bottom-gutter bottom-gutter";
}

.section-grid-sweep-areas {
  grid-template-areas:
    "search search search search search"
    "left-gutter key center-gutter value right-gutter";
}

.section-main-areas {
  grid-template-areas:
    "args args args args args"
    "pin-lg pin-key pin-cg pin-value pin-rg"
    "left-gutter key center-gutter value right-gutter";
}

/* utility classes */

/* utility classes */

.section-args-nested {
  grid-template-columns: 0.75rem 1fr 0.75rem 1fr;
  grid-template-areas: "left-gutter key center-gutter value";
}

.section-args-nested-key-value {
  grid-template-columns: 1fr 0.75rem 1fr;
  grid-template-areas: "key center-gutter value";
}

@supports (-moz-appearance: none) {
  .section-args-list {
    overflow-x: hidden;
  }
}

@supports (-moz-appearance: none) {
  .card-sweep-list {
    margin-right: -1.2rem;
    overflow-x: hidden !important;
  }
}

/* grid  */

.card-arg-group-error {
  grid-column: key / value;
}

.card-incrementer {
  grid-area: value;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink-cursor {
  animation: blink 1s step-start 0s infinite;
}

input[type="color" i] {
  border-radius: 50%;
  inline-size: 24px;
  block-size: 24px;
  border-width: 0px;
  border-style: solid;
  border-color: rgba(153, 153, 153, 0);
  overflow: clip;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
}

.color-flip {
  --bg: #ff0000;
  background: var(--bg);

  /* This swaps between white or black based on the background color. */
  /* After testing against all RGB background colors, 49.44 minimizes the number of WCAG 4.5:1 contrast failures. */
  color: lch(from var(--bg) calc((49.44 - l) * infinity) 0 0);
}

.transition-radius {
  transition-property: border-radius, box-shadow, drop-shadow, outline;
  transition-duration: 170ms;
  animation-timing-function: ease-in-out;
}

* {
  /* outline: 1px solid green; */
  /* background: hsla(0, 100%, 50%, 0.1); */
}

/* *:focus {
  outline: 2px solid red;
  outline-offset: 2px;
} */

/* *:focus {
  outline-color: #3b82f6;
 
} */

::selection {
  background: rgb(29 78 216);
  color: white;
}
